app/src/main/res/layout/activity_main.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.android.com/apk/res/android" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="visibility" type="xs:string"/>
  <xs:attribute name="editable" type="xs:string"/>
  <xs:attribute name="linksClickable" type="xs:string"/>
  <xs:attribute name="layout_width" type="xs:string"/>
  <xs:attribute name="layout_height" type="xs:string"/>
  <xs:attribute name="orientation" type="xs:string"/>
  <xs:attribute name="layout_marginTop" type="xs:string"/>
  <xs:attribute name="autoLink" type="xs:string"/>
  <xs:attribute name="hint" type="xs:string"/>
  <xs:attribute name="textAlignment" type="xs:string"/>
  <xs:attribute name="textAppearance" type="xs:string"/>
  <xs:attribute name="focusableInTouchMode" type="xs:string"/>
  <xs:attribute name="paddingLeft" type="xs:string"/>
  <xs:attribute name="layout_marginRight" type="xs:string"/>
  <xs:attribute name="paddingRight" type="xs:string"/>
  <xs:attribute name="clickable" type="xs:string"/>
  <xs:attribute name="onClick" type="xs:string"/>
  <xs:attribute name="layout_marginLeft" type="xs:string"/>
  <xs:attribute name="enabled" type="xs:string"/>
  <xs:attribute name="layout_gravity" type="xs:string"/>
  <xs:attribute name="tabStripEnabled" type="xs:string"/>
  <xs:attribute name="paddingBottom" type="xs:string"/>
  <xs:attribute name="baselineAligned" type="xs:string"/>
  <xs:attribute name="paddingTop" type="xs:string"/>
  <xs:attribute name="id" type="xs:string"/>
  <xs:attribute name="text" type="xs:string"/>
</xs:schema>